body {
    margin: 0 0;
}

.container {
    width: 400px;
    height: 400px;
    padding: 16px;
    border: 5px solid black;
}

#logo {
    position: relative;
    display: block;
    margin: auto;
    height: fit-content;
    width: 60px;
}

#heading {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 16px;
    height: fit-content;
    font-style: oblique;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 32px;
    color: #000000;
}

#startQuote {
    position: relative;
    display: flex;
    width: 30px;
}

#endQuote {
    position: relative;
    display: flex;
    width: 30px;
}

#copyQuote {
    position: relative;
    display: flex;
    width: 20px;
}