body{
    width: 300px;
    height: 300px;
    display: block;
    vertical-align: center;
    background-color: rgb(232, 232, 255);
}

div{
    margin: auto;
    width: 280px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}